[Desktop Entry]
Encoding=UTF-8
Name=Link to Scipy 0.15.0 Reference Guide
Type=Link
URL=https://docs.scipy.org/doc/scipy-0.15.0/reference/
Icon=text-html
